{% extends "base.html" %}
{% load static %}


{% block title %}
  Create Task
{% endblock %}


{% block content %}

<div class="flex justify-center items-baseline ">
    <div>
        <h1 class="text-black text-2xl font-semibold p-5">TASKMANAGEMENT
            <span>
                <p class="text-zinc-500 text-xl font-normal">Open</p>
            </span>
        </h1>
    </div>

        <div class="fixed top-0 left-0 w-screen h-screen flex items-center justify-center z-50 bg-gray-800 bg-opacity-50 text-sm">
            <div class="bg-white shadow-md w-80 px-4 py-4 rounded-lg flex justify-center items-center">
                <form method="post" action="{% url 'create-tasks' %}" class="max-w-[300px]">
                    {% csrf_token %}
        
                    <div class="mb-2">
                        <label for="{{ form.name.id_for_label }}" class="text-indigo-600 font-semibold block mb-1">Task Name</label>
                        <input type="text" id="{{ form.name.id_for_label }}" name="{{ form.name.name }}" class="w-60 shadow-md px-3 py-1 border rounded-lg" placeholder="Task Name">
                    </div>
        
                    <div class="mb-2">
                        <label for="{{ form.description.id_for_label }}" class="text-indigo-600 font-semibold block mb-1">Description</label>
                        <input type="text" id="{{ form.description.id_for_label }}" name="{{ form.description.name }}" class="w-60 shadow-md px-3 py-1 border rounded-lg" placeholder="Description">
                    </div>
        
                    <div class="mb-2">
                        <label for="{{ form.floor.id_for_label }}" class="text-indigo-600 font-semibold block mb-1">Floor</label>
                        <input type="text" id="{{ form.floor.id_for_label }}" name="{{ form.floor.name }}" class="w-60 shadow-md px-3 py-1 border rounded-lg" placeholder="Floor">
                    </div>
        
                    <div class="mb-2">
                        <label for="{{ form.room.id_for_label }}" class="text-indigo-600 font-semibold block mb-1">Room</label>
                        <input type="text" id="{{ form.room.id_for_label }}" name="{{ form.room.name }}" class="w-60 shadow-md px-3 py-1 border rounded-lg" placeholder="Room">
                    </div>
        
                    <div class="mb-2">
                        <label for="{{ form.due_date.id_for_label }}" class="text-indigo-600 font-semibold block mb-1">Due date</label>
                        <input type="date" id="{{ form.due_date.id_for_label }}" name="{{ form.due_date.name }}" class="w-60 shadow-md px-3 py-1 border rounded-lg" placeholder="yyyy-mm-dd">
                        {% if form.errors %}
                        <div class="text-red-500 text-xs">{{ form.errors.due_date }}</div>
                        {% endif %}
                    </div>
        
                    <div class="mb-2">
                        <label for="{{ form.priority.id_for_label }}" class="text-indigo-600 font-semibold block mb-1">Priority</label>
                        <input type="text" id="{{ form.priority.id_for_label }}" name="{{ form.priority.name }}" class="w-60 shadow-md px-3 py-1 border rounded-lg" placeholder="Priority">
                    </div>
        
                    <div class="mb-2">
                        <label for="{{ form.assigned.id_for_label }}" class="text-indigo-600 font-semibold block mb-1">Assigned</label>
                        <input type="text" id="{{ form.assigned.id_for_label }}" name="{{ form.assigned.name }}" class="w-60 shadow-md px-3 py-1 border rounded-lg" placeholder="Assigned">
                    </div>

                    <div class="mb-2">
                        <label for="{{ form.project_name.id_for_label }}" class="text-indigo-600 font-semibold block mb-1">Project Name</label>
                        <div class="w-60 shadow-md px-3 py-1 border rounded-lg">{{ form.project_name }}</div>
                        {% if form.errors.project_name %}
                            <div class="text-red-500 text-xs">{{ form.errors.project_name.0 }}</div>
                        {% endif %}
                    </div>
        
                    <div class="mb-2">
                        <label for="{{ form.virtual_tour.id_for_label }}" class="text-indigo-600 font-semibold block mb-1">Virtual Tour</label>
                        <input type="text" id="{{ form.virtual_tour.id_for_label }}" name="{{ form.virtual_tour.name }}" class="w-60 shadow-md px-3 py-1 border rounded-lg" placeholder="Virtual Tour">
                    </div>
        
                    <div class="flex justify-between text-xs mt-4">
                        <button type="submit" class="bg-indigo-600 text-white py-2 px-4 rounded-lg hover:bg-indigo-700">Submit</button>
                        <a href="{% url 'tasks' %}">
                            <button type="button" class="bg-neutral-400 text-white py-2 px-4 rounded-lg ml-2 hover:bg-indigo-700">
                                Cancel
                            </button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
        

</div>
   

   
   
    
   
      
      
   

        
        
      
      
      
        
<script>
    // JavaScript function to show the modal
    function openModal() {
        document.querySelector(".bg-opacity-50").style.display = "block";
    }

    // JavaScript function to close the modal
    function closeModal() {
        document.querySelector(".bg-opacity-50").style.display = "none";
    }
</script>
        
       


{% endblock %}


