
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>360-degree Panorama</title>
    <link rel="stylesheet" href="{% static 'marzipano/marzipano.css' %}">
</head>
<body>
    <div id="pano" style="width: 100%; height: 600px;"></div>
    <script src="{% static 'marzipano.js' %}"></script>
    <script>
        // JavaScript code to create and display the Marzipano panorama
        var viewer = new Marzipano.Viewer(document.getElementById('pano'));
        var source = Marzipano.ImageUrlSource.fromString("static/pan.jpg");
        var geometry = new Marzipano.EquirectGeometry([{ width: 6000 }]);
        var view = viewer.lookAt({ yaw: 0, pitch: 0 });
        var scene = viewer.createScene({
            source: source,
            geometry: geometry,
        });
        view.setYaw(0);
        view.setPitch(0);
    </script>
</body>
</html>









<script>
    const toggleButton = document.getElementById('toggleSidebar');
    const sidebar = document.getElementById('sidebar');

    toggleButton.addEventListener('click', () => {
        sidebar.classList.toggle('translate-x-0');
    });
</script>
